
<h1>About us</h1>
<p>
Petits cons tentant de coder grace au génial
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
de Michael.
</p>
<ul class="nav pull-mid" align="center">
<%= link_to image_tag("/images/zombie-brains.jpg", alt: "Rails"), 'http://fr.wikipedia.org/wiki/Scarlett_Johansson' %>
</ul>
