

<div class="center hero-unit">
<h1>Welcome to EnTouteConfiance</h1>
<h2>
This home page was built by
<a href="http://www.linkedin.com/pub/samuel-manass%C3%A9/50/157/b00/">Samuel M</a>, a pure geek.
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<ul class="nav pull-mid" align="center">
<%= link_to image_tag("/images/logo.png", alt: "Rails"), 'http://fr.wikipedia.org/wiki/Scarlett_Johansson' %>
</ul>
